<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="spotifytoaster.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <spotifytoaster.Properties.Settings>
            <setting name="ToastMovementSpeed" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="ToastTimeToLive" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="ToastBackgroundColor" serializeAs="String">
                <value>-16777216</value>
            </setting>
            <setting name="ToastAlphaLevel" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="ToastForegroundColor" serializeAs="String">
                <value>-6632142</value>
            </setting>
        </spotifytoaster.Properties.Settings>
    </userSettings>
</configuration>